@model ExpenseTracker.WebUI.Models.BudgetRelated.BudgetDetailModel

@{
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
    ViewBag.Title = "Bütçe Detay";
}

<h2>Bütçe: @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyLongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyLongName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
