@model ExpenseTracker.WebUI.Models.BudgetRelated.BudgetListModel

@{
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
    ViewBag.Title = "Bütçelerim";
}

<h2>Bütçelerim</h2>
<p>@Html.ActionLink("Aktif bütçeyi değiştir", "SelectActiveBudget")</p>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Bütçe Adı
        </th>
        <th>
            Para Birimi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.BudgetList) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrencyDisplayName)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
        @Html.ActionLink("Sil", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
