@model IEnumerable<ExpenseTracker.Persistence.Context.DbModels.Budget>

@{
    ViewBag.Title = "Bütçelerim";
}

<h2>Bütçelerim</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency.CurrencyCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.BudgetId }) |
        @Html.ActionLink("Detay", "Details", new { id = item.BudgetId }) |
        @Html.ActionLink("Sil", "Delete", new { id = item.BudgetId })
    </td>
</tr>
}

</table>
