@model ExpenseTracker.WebUI.Models.BudgetRelated.BudgetListModel

@{
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
    ViewBag.Title = Resources.Title_Budget_List;
}

<p>
    @Html.ActionLink(Resources.Budget_Button_CreateNew, "Create", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink(Resources.Budget_Button_ChangeActiveBudget, "SelectActiveBudget", null, new { @class = "btn btn-info" })
</p>

<div class="table-responsive">
    <table id="budget-list-grid" class="table table-striped table-hover table-sm">
        <thead class="thead">
            <tr class="table-primary">
                <th scope="col">@Resources.Budget_List_Label_BudgetName</th>
                <th scope="col">@Resources.Budget_List_Label_Currency</th>
                <th scope="col">@Resources.Generic_OneSpace</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var budget in Model.BudgetList)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => budget.Name)</th>
                    <td>@Html.DisplayFor(modelItem => budget.CurrencyDisplayName)</td>
                    <td>
                        <a href="@Url.Action("Edit", "Budget", new { id = budget.Id })" class="btn btn-sm btn-info"><i class="fas fa-edit"></i></a>
                        <button type="button" class="delete-category-button btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete" data-id="@budget.Id">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">@Resources.Budget_Delete_Modal_Header</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="@Resources.Generic_Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Resources.Budget_Delete_Modal_Text</p>
            </div>
            <div class="modal-footer justify-content-between">
                @using (Html.BeginForm("Delete", "Budget", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    @Html.Hidden("id")
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">@Resources.Generic_No</button>
                    <button type="submit" class="btn btn-outline-light">@Resources.Generic_Yes</button>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section scripts{
    <script>
        $(document).on("click", ".delete-category-button", function () {
            var categoryId = $(this).data('id');
            $(".modal-footer #id").val(categoryId);
        });
    </script>
}
