@model BudgetPlanUpdateModel
@{
    ViewBag.Title = "Bütçe Planlama";
}

<h2>Bütçe Planlama - @Model.BudgetPlan.MonthName @Model.BudgetPlan.Year.ToString()</h2>
<h4>@Html.ActionLink("Bir Önceki Ay", "Update", new { month = Model.BudgetPlan.PreviousMonth, year = Model.BudgetPlan.PreviousYear })</h4>
<h4>@Html.ActionLink("Bir Sonraki Ay", "Update", new { month = Model.BudgetPlan.NextMonth, year = Model.BudgetPlan.NextYear })</h4>

@using (Html.BeginForm("Update", "BudgetPlan", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.BudgetPlan.BudgetPlanId)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @for (int i = 0; i < Model.PlanCategories.Count; i++)
        {
            var category = Model.PlanCategories[i];
            @Html.HiddenFor(m => m.PlanCategories[i].BudgetPlanCategoryId)
            <div class="form-group">
                @Html.LabelFor(m => m.PlanCategories[i].PlannedAmount, category.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.PlanCategories[i].PlannedAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => category.PlannedAmount, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}
