@model List<ExpenseTracker.WebUI.Models.BaseTransactionModel.TransactionSummary>

<div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead class="thead">
            <tr class="table-primary">
                <th scope="col">Tarih</th>
                <th scope="col">Tutar</th>
                <th scope="col">Kategori</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Hesap</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <th scope="row">@transaction.Date.ToLongDateString()</th>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Category</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.Account</td>
                    <td>@Html.ActionLink("Düzenle", "Edit", new { transaction.TransactionId }) | @Html.ActionLink("Sil", "Delete", new { transaction.TransactionId })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
