@model List<ExpenseTracker.WebUI.Models.BaseTransactionModel.TransactionSummary>

<div class="row">
    <div class="col-lg-2" style="font-weight:bold;">Tarih</div>
    <div class="col-lg-2" style="font-weight:bold;">Tutar</div>
    <div class="col-lg-2" style="font-weight:bold;">Kategori</div>
    <div class="col-lg-3" style="font-weight:bold;">Açıklama</div>
    <div class="col-lg-1" style="font-weight:bold;">Hesap</div>
    <div class="col-lg-2" style="font-weight:bold;">&nbsp;</div>
</div>
@foreach (var transaction in Model)
{
    <div class="row">
        <div class="col-lg-2">@transaction.Date.ToLongDateString()</div>
        <div class="col-lg-2">@transaction.Amount</div>
        <div class="col-lg-2">@transaction.Category</div>
        <div class="col-lg-3">@transaction.Description</div>
        <div class="col-lg-1">@transaction.Account</div>
        <div class="col-lg-2">@Html.ActionLink("Düzenle", "Edit", new { transaction.TransactionId }) | @Html.ActionLink("Sil", "Delete", new { transaction.TransactionId })</div>
    </div>
}
