@model ExpenseTracker.WebUI.Models.Transaction.DeleteModel
@{
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
    ViewBag.Title = "İşlem Silme";
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="mb-3">İşlem Silme</h4>
        @using (Html.BeginForm("Delete", "Transaction", FormMethod.Post, new { @class = "needs-validation" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.TransactionId)

            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div id="radioBtn" class="btn-group">
                            <a class="btn btn-primary btn-sm active cusradiobtn" data-toggle="IsIncome" data-title="false">Gider</a>
                            <a class="btn btn-primary btn-sm notActive cusradiobtn" data-toggle="IsIncome" data-title="true">Gelir</a>
                        </div>
                        @Html.HiddenFor(m => m.IsIncome)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    @Html.LabelFor(model => model.Amount)
                    @Html.Label("Amount", Model.Amount.ToString(), new { @class = "form-control" })
                </div>
                <div class="col-md-6 mb-3">
                    @Html.LabelFor(model => model.CategoryName)
                    @Html.Label("CategoryName", Model.CategoryName, new { @class = "form-control" })
                </div>
                <div class="col-md-3 mb-3">
                    @Html.LabelFor(model => model.Date)
                    @Html.Label("Date", Model.Date.ToString("dd MMMM yyyy"), new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    @Html.LabelFor(model => model.AccountName)
                    @Html.Label("AccountName", Model.AccountName, new { @class = "form-control" })
                </div>
                <div class="col-md-6 mb-3">
                    @Html.LabelFor(model => model.Description)
                    @Html.Label("Description", Model.Description, new { @class = "form-control" })
                </div>
            </div>

            <button class="btn btn-danger btn-lg btn-block" type="submit">Sil</button>
        }
    </div>
</div>
