@model ExpenseTracker.Persistence.Context.DbModels.Category

@{
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
    ViewBag.Title = Resources.Page_Title_Categories_Edit;
}

@section content_header{
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">@Resources.Page_Title_Categories_Edit</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@Resources.Nav_Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Category")">@Resources.Page_Title_Categories_Index</a></li>
            <li class="breadcrumb-item active">@Resources.Page_Title_Categories_Edit</li>
        </ol>
    </div>
    <!-- /.col -->
}

<div class="row">
    <div class="col-md-6 mx-auto">
        @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "needs-validation" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.CategoryId)
            @Html.HiddenFor(model => model.InsertUserId)
            @Html.HiddenFor(model => model.InsertTime)
            @Html.HiddenFor(model => model.IsActive)

            @Html.HiddenFor(model => model.BudgetId)

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Name, Resources.Categories_Label_Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">@Resources.Generic_Save_Button</button>
                    @Html.ActionLink(Resources.Generic_Back, "Index")
                </div>
            </div>
            <!-- /.card -->
        }
    </div>
</div>
