@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section right_navbar_links{
    <!-- Right navbar links -->
    @*<ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>*@
}

@section user_panel{
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/img/avatar1.png" class="img-circle elevation-2" alt="Avatar">
        </div>
        <div class="info">
            <a href="#" class="d-block">@User.Identity.Name</a>
        </div>
    </div>
}

@section sidebar_menu{
    @{
        string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    }
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            @*<li class="nav-item">
                    <a href="@Url.Action("Index", "Dashboard")" class="nav-link@(controller.ToLowerInvariant().Equals("dashboard") && action.ToLowerInvariant().Equals("index") ? " active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            @Resources.Title_Dashboard_Index
                        </p>
                    </a>
                </li>*@
            @*<li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Widgets
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>*@
            <li class="nav-item">
                <a href="@Url.Action("Add", "Transaction")" class="nav-link@(controller.ToLowerInvariant().Equals("transaction") && action.ToLowerInvariant().Equals("add") ? " active" : "")">
                    <i class="nav-icon fas fa-pen-fancy"></i>
                    <p>
                        @Resources.Menu_NewTransaction
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("List", "Transaction")" class="nav-link@(controller.ToLowerInvariant().Equals("transaction") && action.ToLowerInvariant().Equals("list") ? " active" : "")">
                    <i class="nav-icon fas fa-list-ol"></i>
                    <p>
                        @Resources.Menu_TransactionList
                    </p>
                </a>
            </li>
            <li class="nav-header">@Resources.Menu_BudgetManagement</li>
            <li class="nav-item">
                <a href="@Url.Action("Update", "BudgetPlan")" class="nav-link@(controller.ToLowerInvariant().Equals("budgetplan") && action.ToLowerInvariant().Equals("update") ? " active" : "")">
                    <i class="fas fa-balance-scale nav-icon"></i>
                    <p>@Resources.Menu_BudgetPlan</p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        @Resources.Menu_Accounts
                        <i class="fas fa-angle-left right"></i>
                        @*<span class="badge badge-info right">6</span>*@
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "BudgetAccount")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>@Resources.Menu_Accounts_List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Create", "BudgetAccount")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>@Resources.Menu_Accounts_Add</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                        @Resources.Menu_Categories
                        <i class="fas fa-angle-left right"></i>
                        @*<span class="badge badge-info right">6</span>*@
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Categories")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>@Resources.Menu_Category_List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Create", "Categories")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>@Resources.Menu_Category_Add</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tree"></i>
                    <p>
                        @Resources.Menu_Budgets
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Budget")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>@Resources.Menu_Budgets_List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Create", "Budget")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>@Resources.Menu_Budgets_Add</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SelectActiveBudget", "Budget")" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>@Resources.Menu_Budgets_ChangeActiveBudget</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-header">@Resources.Menu_MembershipManagement</li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>@Resources.Menu_Settings</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Logout", "Account")" class="nav-link">
                    <i class="nav-icon far fa-circle text-danger"></i>
                    <p class="text">@Resources.Menu_Logout</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
}

@section content_header{
    @RenderSection("content_header", required: false)
}

@*<!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->*@

@RenderBody()

@section basescripts{
    @RenderSection("scripts", required: false)
    @RenderSection("partialscripts", required: false)
}
