@{
    string budgetName = ViewBag.ActiveBudgetName;
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">HarTak</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <a class="nav-link @(controller.ToLowerInvariant().Equals("transaction") && action.ToLowerInvariant().Equals("add") ? "active" : "")" href="@Url.Action("Add", "Transaction")">Yeni İşlem <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link @(controller.ToLowerInvariant().Equals("report"))" href="@Url.Action("Index", "Report")">Raporlar</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarBudgetManagementDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bütçe Yönetimi "@(budgetName)"
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarBudgetManagementDropdown">
                    <a class="dropdown-item" href="@Url.Action("Update", "BudgetPlan")">Bütçe Planlama</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Index", "Categories")">Kategoriler</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "BudgetAccount")">Hesaplar</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link @(controller.ToLowerInvariant().Equals("budget") && action.ToLowerInvariant().Equals("index") ? "active" : "")" href="@Url.Action("Index", "Budget")">Tüm Bütçeler</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarBudgetManagementDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarBudgetManagementDropdown">
                    @*<a class="dropdown-item" href="#">Ayarlar</a>
                    <div class="dropdown-divider"></div>*@
                    <a class="dropdown-item" href="@Url.Action("Logout", "User")">Çıkış</a>
                </div>
            </li>

        </ul>
    </div>

</nav>
