@model IEnumerable<ExpenseTracker.Persistence.Context.DbModels.Account>

@{
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hesap adı
        </th>
        <th>
            Bağlı olduğu bütçe
        </th>
        <th>
            Hesap tipi
        </th>
        <th>
            Mevcut bakiye
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Budget.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AccountType.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrentBalance)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.AccountId }) |
        @Html.ActionLink("Details", "Details", new { id = item.AccountId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.AccountId })
    </td>
</tr>
}

</table>
