@model ExpenseTracker.WebUI.Models.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/_UnauthorizedLayout.cshtml";
    ViewBag.Title = Resources.Title_Login;
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "tm-login-form", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Index", "Home")"><b>Expense</b>Tracker</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">@Resources.Login_LoginToStart</p>

                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus", type = "email", placeholder = Resources.Input_Placeholder_Email })
                    <div class="input-group-append input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="input-group mb-3">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", autofocus = "autofocus", type = "password", placeholder = Resources.Input_Placeholder_Password })
                    <div class="input-group-append input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <div class="custom-control custom-checkbox mb-3">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.RememberMe, Resources.Login_RememberMe, new { @class = "custom-control-label" })
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">@Resources.Login_ButtonLogin</button>
                    </div>
                    <!-- /.col -->
                </div>

                @*<div class="social-auth-links text-center mb-3">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                        </a>
                    </div>*@
                <!-- /.social-auth-links -->
                @*<p class="mb-1">
                        <a href="#">I forgot my password</a>
                    </p>*@
                <p class="mb-0">
                    <a href="@Url.Action("Register", "Account")" class="text-center">@Resources.Login_NewMembershipLink</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
